@import "tailwindcss";

:root {
  --background: hsl(0 0 5);
  --foreground: hsl(0 0 94);
  --text-muted: hsl(218 11 65);

  --block: hsl(222, 36%, 21%);
  --block-light: hsl(222, 46%, 21%);
  --block-muted: hsl(222, 44%, 19%);
  --border-color: hsl(227, 18%, 20%);

  --gradient-base: hsl(0, 65%, 45%);
  --gradient-red: hsl(0, 70%, 50%);
  --gradient-red-2: hsl(0, 65%, 30%);
  --gradient-red-3: hsl(0 65% 44% / 0.8);

  --gradient-custom: linear-gradient(55deg,
      var(--gradient-base),
      var(--gradient-red) 10px,
      var(--gradient-red-2) 50px,
      var(--gradient-red-3));

  --bg-gradient: var(--gradient-custom);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-open-sans: var(--font-open-sans);
  --font-sans-mono: var(--font-open-sans-mono);
}

.bg-custom-gradient {
  @apply text-transparent bg-clip-text;
  background-image: var(--bg-gradient);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100lvh;
}

body::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: #0C0C0C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2381798d' fill-opacity='0.17' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.015), rgba(0, 0, 0, 0.1));
  pointer-events: none;
  z-index: 0;
}

table {
  align-self: flex-start;
  background: var(--block);
  width: 100%;
}

thead {
  color: var(--text-muted);
  border-bottom: 1px solid var(--border-color);
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background: var(--block-light);
}

tr>* {
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

tr:hover {
  background: var(--block-muted);
}

tbody tr:nth-child(even):hover {
  background: var(--block-light);
}

#log-table {
  margin-top: 2rem;
  border: 2px solid var(--border-color);
  overflow: hidden;
  border-radius: 20px;
}